[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
biopython = "*"
lightgbm = "*"
pandas = "*"
tqdm = "*"
matplotlib = "*"
jupyterlab = "*"
mygene = "*"
hydra = "*"
omegaconf = "*"
wandb = "*"
hydra-core = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
torchinfo = "*"

[dev-packages]

[requires]
python_version = "3.8"
